// ---- 🙂 ------
@import "../mixin/mixin";
@import "../variables/variables";
// ---- 🙂 ------

#preloader{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99999999999;
    img{
        z-index: 99999999999;
    }
}